.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60vw;
  align-items: center;
  gap: 10px;
}

.cart-list-item {
  display: grid;
  grid-template-columns: calc(0.8 * 200px) 1fr;
  align-items: center;
  height: 200px;
  width: 100%;
  border: black solid 1px;
  color: var(--blacks);
  text-align: center;
  padding: 0 20px;
  gap: 20px;
}

.cart-list-item > * {
  font-size: 12px;
}

.cart-list-item-image {
  height: 80%;
  aspect-ratio: 1/1;
  border: 1px solid var(--blacks);
  align-content: center;
  text-align: center;
}

.cart-list-item-info {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr 4fr 2fr;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.cart-list-item-name {
  font-size: 15px;
  text-wrap: pretty;
}

.cart-list-item-price {
  font-style: italic;
}

.cart-list-item-quantity {
  font-weight: bold;
}

.cart-list-item-total {
  color: var(--base);
  font-weight: bold;
}

.remove-item-button {
  background: var(--blacks);
  color: var(--complementary);
  padding: 10px;
  border-radius: 0;
  height: auto;
  border: 1px solid var(--complementary);
  transition: background 0.5s, color 0.5s;
}

.remove-item-button:hover {
  background: var(--complementary);
  border-color: var(--blacks);
  color: var(--blacks);
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}

@media only screen and (max-width: 1000px) {
  .cart-list-item {
    justify-content: center;
    gap: 50px;
  }

  .cart-list-item-image {
    margin: 0;
  }

  .cart-list-item-info {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .cart-list {
    width: 100vw;
  }`
}
