.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.product-header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 0 0;
  padding: 5vh 10vw;
  width: 100vw;
  gap: 30px;
}

.product-header > * {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 10px;
  color: var(--blacks);
  white-space: no-wrap;
}

.product-header div button {
  background: none;
  height: 50px;
  padding: 10px;
  color: var(--blacks);
  border: 1px var(--base) solid;
}

.product-header div .active,
.product-header div button:hover {
  background: var(--base);
  color: var(--complementary);
  transition: background 0.5s;
  cursor: pointer;
}

.product-header div button:active {
  transform: scale(0.95);
}

.product-list {
  display: flex;
  position: relative;
  margin: 0 10vw;
  flex-wrap: wrap;
  align-items: center;
}

.product-list-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom: 0;
  margin: 0 20px 20px 20px;
  width: calc(33.33% - 40px);
  aspect-ratio: 1/1;
  border: 1px solid var(--blacks);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 10px 0;
  cursor: pointer;
  transition: border 0.5s;
  background: var(--complementary);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.product-list-item:hover {
  border: 10px solid var(--base);
  transition: border 0.5s;
}

.product-list-item > * {
  text-align: center;
}

.product-list-item > h3 {
  color: var(--blacks);
  font-weight: bold;
  max-width: 100%;
  font-size: 80%;
  align-self: center;
}

.product-list-item > h4 {
  color: var(--base);
}

.product-list-item > h5 {
  color: var(--blacks);
  font-size: 10px;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
}

#search {
  justify-content: center;
  flex-basis: 100%;
}

#search input {
  background: none;
  height: 25px;
  padding: 5px;
  color: var(--blacks);
  border: 1px var(--base) solid;
}

@media only screen and (max-width: 700px) {
  .product-header,
  .product-header > div {
    gap: 10px;
    flex-direction: column;
  }

  .product-list-item {
    width: calc(50% - 40px);
  }
}
